<h1>Welcome to Facebookr!</h1>

<% if @results.any? %>
  <% @results.each do |result| %>
    <p><%= result['message'] %></p>
  <% end %>

  <%= link_to 'Previous', url_for(:page => @results.previous_page_params) %>
  <%= link_to 'Next', url_for(:page => @results.next_page_params) %>
<% else %>

  <p><%= link_to "Connect your Facebook account", user_facebook_omniauth_authorize_path %> to view your Facebook feed.</p>
<% end %>
